.app-wrapper {
    padding: 12px;

    >* {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        >*:not(img) {
            max-width: 600px;
        }
    }

    .recipe-intro {
        display: flex;
        flex-direction: column;
        gap: 12px;

        h1 {
            font-family: 'Playfair Display';
            font-size: 48px;
            line-height: 63px;
            font-weight: 700;
            @media screen and (max-width: 700px) {
                font-size: 24px;
                line-height: 32px;
            }
        }

        >div {
            display: flex;
            align-items: flex-start;
            gap: 8px;

            img {
                flex: 0;
                margin: 4px;
            }

            p {
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                font-style: italic;
                @media screen and (max-width: 700px) {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }

        >img {
            margin-top: 30px;
            margin-bottom: 48px;
            @media screen and (max-width: 700px) {
                margin-top: 12px;
                margin-bottom: 24px;
            }
        }
    }
    
    .recipe-details {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 700px) {
            flex-direction: column;
        }

        .steps {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        .steps >*{
            max-width: 600px;
        }

    }

    footer {
        margin-top: 30px;
        font-family: 'Montserrat';
        color: var(--grey-footer);
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    
        a {
            color: inherit;
            font-weight: 700;
        }
    }
}